{% extends "rater/base.html" %}

{% block head_title %}Indication | {{ block.super }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Rater</a></li>
  <li class="active">Indication</li>
</ol>

<div class="page-header">
	<h1>
		{% if indi_id == '0' %}
			New Indication
		{% else %}
			Edit Indication {{ indi_id }}
		{% endif %}
	</h1>
</div>

<form method='POST' action=''>{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	    {{ hidden }}
	{% endfor %}

	{{ form.non_field_errors }}

	{% include "rater/render_field.html" with field=form.named %}
	{% include "rater/render_field.html" with field=form.dba %}
	{% include "rater/render_field.html" with field=form.street %}
	<div class="form-group">
		{{ form.city.errors|safe }}
		{{ form.state.errors|safe }}
		{{ form.zipcode.errors|safe }}
		{{ form.city.label_tag }}/{{ form.state.label_tag }}/{{ form.zipcode.label_tag }}
		<br/>
		{{ form.city }} {{ form.state }} {{ form.zipcode }}
	</div>
	{% include "rater/render_field.html" with field=form.tzipcode %}
	{% include "rater/render_field.html" with field=form.limits %}
	{% include "rater/render_field.html" with field=form.deductible %}
	{% include "rater/render_field.html" with field=form.risk_experience %}
	{% include "rater/render_field.html" with field=form.sunset %}
	{% include "rater/render_field.html" with field=form.sales %}
	{% include "rater/render_field.html" with field=form.subcost %}
	{% include "rater/render_field.html" with field=form.service_repair %}
	
	<div class="row">
		<label class="col-md-12">Specify the type of work</label>
		<span class="help-block col-md-12">Please specify the percentage of work done in the following areas of work. <strong>Note:</strong> 
			The total <strong>must</strong> sum up to 100%.<h6><strong>No New Ground up Construction is allowed if the applicant is acting 
			in the capacity of a General Contractor. New Construction as a sub/trade contractor is acceptable.</strong></h6></span>
		<label class="col-md-4">Type of work</label>
		<label class="col-md-8">Percentage of work done</label>
		{% include "rater/render_work_classification.html" with field=form.worksplit_type_groundup %}
		{% include "rater/render_work_classification.html" with field=form.worksplit_type_remodel %}
		{% include "rater/render_work_classification.html" with field=form.worksplit_type_service %}
	</div>
	<br/>

	<div class="row">
		<label class="col-md-12">Specify the field of work</label>
		<span class="help-block col-md-12">Please specify the percentage of work done in the above fields. <strong>Note:</strong>
			The total <strong>must</strong> sum up to 100%.</span>
		<label class="col-md-4">Field of work</label>
		<label class="col-md-8">Percentage of work done</label>
		{% include "rater/render_work_classification.html" with field=form.worksplit_inst_commercial %}
		{% include "rater/render_work_classification.html" with field=form.worksplit_inst_residential %}
		{% include "rater/render_work_classification.html" with field=form.worksplit_inst_industrial %}
		{% include "rater/render_work_classification.html" with field=form.worksplit_inst_institutional %}
	</div>
	<br/>

	{% include "rater/render_field.html" with field=form.number_owners %}

	{% if form.number_ft_employees.errors or form.number_pt_employees.errors %}
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		{{ form.number_ft_employees.errors|safe }}
		{{ form.number_pt_employees.errors|safe }}
	{% else %}
	<div class="row">
	{% endif %}
		<label class="col-md-12">Number of Employees:</label>
		<div class="col-md-4">{{ form.number_ft_employees }} Full Times</div>
		<div class="col-md-8">{{ form.number_pt_employees }} Part Times</div>
	</div>
	<br/>

	<div class="row">
		<label class="col-md-4">Classcode</label>
		<label class="col-md-8">Payroll</label>
		<br/>
		<span class="help-block col-md-12">
			<strong>Note:</strong> Classifications that are not listed below are unacceptable risks for this program. Please contact 
			your underwriter if your risk requires different classification.
		</span>
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode1 payroll=form.payroll1 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode2 payroll=form.payroll2 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode3 payroll=form.payroll3 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode4 payroll=form.payroll4 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode5 payroll=form.payroll5 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode6 payroll=form.payroll6 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode7 payroll=form.payroll7 %}
		{% include "rater/render_classcode_payroll.html" with classcode=form.classcode8 payroll=form.payroll8 %}
	</div>
	<br/>

	{% include "rater/render_field.html" with field=form.prior_works_buyback %}
	{% include "rater/render_field.html" with field=form.terrorism %}
	{% include "rater/render_field.html" with field=form.agg_lim_endmt %}
	{% include "rater/render_field.html" with field=form.absolute_limits_buyback %}
	{% include "rater/render_field.html" with field=form.blanket_ai_comp_ops_endmt %}

	<input type='submit'/>
</form>
{% endblock content %}
